[submodule "src/dependencies/ewellix_lift"]
	path = src/dependencies/ewellix_lift
	url = https://github.com/clearpathrobotics/ewellix_lift.git
[submodule "src/dependencies/moveit_studio_ur_pstop_manager"]
	path = src/dependencies/moveit_studio_ur_pstop_manager
	url = git@github.com:PickNikRobotics/moveit_studio_ur_pstop_manager.git
